PROJECT_NAME="Portfolio API"
SECRET_KEY="supersecretkey-change-me-in-production"
# DATABASE_URL="sqlite:///./portfolio.db"
DATABASE_URL="sqlite:///./portfolio.db"
# Example Neon postgres string:
# DATABASE_URL="postgresql+asyncpg://user:password@ep-cool-darkness-123456.us-east-2.aws.neon.tech/dbname"
